.header {
  display: flex;
  justify-content: center;
  text-align: center;
}
#logo {
  padding-block: 20px;
}
.location {
  background-color: $colorGroundPrimary;
  padding-block: 25px;
  em{
    font-style: normal;
  }
  i{
    margin-right: 10px;
  }
}
.header_block {
  background-color: $colorGroundSecondary;
  padding-inline: 20px;
  display: flow-root;
  padding-block-end: 40px;
    .header_text_block {
      padding-block-end: 20px;
      h2 {
        padding-inline: 50px;
      }
      span em {
        font-style: normal;
      }
    }
}
.button {
  display: flex;
  justify-content: center;
  span {
      position: relative;
      padding-block: 15px;
      color: white;
      padding-inline: 10px;
  }
}