/*----------------main home page---------------*/

.explain_block {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    div {
        display: block;
        flex-wrap: wrap;
        width: 100%;
        .explain_btn_block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-block: 15px;
            .explain_btn {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}
.main_block {
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7f7;
    padding-top: 30px;
    h3 {
        margin-inline: 20px;
    }
    .article_block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-inline: 20px;
        span {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            p {
                display: flex;
            }
        }
        i {
            align-items: baseline;
            padding-right: 10px;
        }
    }
}



/*-----------------footer--------------------*/

footer {
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 20px;
    img {
        margin-top: 12px;
    }
    ul {
        padding-inline-start: 0px;
        li {
            padding-block: 5px;
        }
    }
}