/*----------------main home page---------------*/

.wrapper {
    margin-inline: 20px;
}
.explain_block {
    display: flex;
    flex-wrap: wrap;
    div {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        .explain_btn_block {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            margin-block: 15px;
            align-items: baseline;
            .explain_btn {
                flex-wrap: wrap;
                align-items: center;
            }
            em {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px;
                margin-inline-end: -10px;
                position: relative;
            }
            i {
                margin-inline: 20px;
            }
        }
    }
}
.main_block {
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7f7;
    padding-top: 30px;
    .article_block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        span {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            p {
                display: flex;
            }
        }
        i {
            align-items: baseline;
            padding-right: 10px;
        }
    }
}



/*-----------------footer--------------------*/

footer {
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 20px;
    img {
        margin-top: 12px;
    }
    ul {
        padding-inline-start: 0px;
        li {
            padding-block: 5px;
        }
    }
}