
/*-----------------------------------------header------------------------------*/

.back {
    padding-block-start: 10px;
}
.img_menu {
    max-width: 100%;
}

/*--------------------------------------main--------------------------------*/





.order_btn {
    display: flex;
    justify-content: center;
}

/*-------------------------------------footer-------------------------------*/