
/*-----------------------------------------header------------------------------*/

.back {
    padding-block-start: 10px;
}
.img_menu {
    max-width: 100%;
}

/*--------------------------------------main--------------------------------*/

h1 {
    font-family: $fontFamilySecondary;
    font-weight: 900;
}



.order_btn {
    display: flex;
    justify-content: center;
}

/*-------------------------------------footer-------------------------------*/